body {
  background-color: #262525;
}
h1 {
	color: #FF0000;
	font-family: 'Creepster', cursive;
}
nav a{
	color: #ffffff ;
	font-family: roboto , sans-serif;
}
h2 {
	color: #FF0000;
	font-family: roboto , sans-serif;
}
p {
	color: #FF6B6B;
	font-family: roboto , sans-serif;
	font-weight: 400;
}
form {
	color: #FF6B6B;
	font-family: roboto , sans-serif;
}
a {
	color: #ffffff;
	font-family: roboto , sans-serif;
}
h3 {
	color: #FF0000;
	font-family: roboto , sans-serif;
}
table {
	color: #FF6B6B;
	font-family: roboto , sans-serif;
}
